.chat-main
  .chat-main__group-info
    .top-item
      .top-item__name
        = @group.name
      %ul.top-item__member
        Member：
        - @group.users.each do |user|
          %li.top-item__member__list
            = user.name
    .chat-main__group-info__edit
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :contents, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon("fas", "image")
          = f.file_field :image, class: "input-box__image__file"
      =f.submit "Send", class: "submit-btn"