.side-bar
  .side-bar__user-name
    .top-item
      .top-item__name
        = current_user.name
      .top-item__icon
        = link_to "#", class:"strong" do
          = icon("fa", "edit")
        = link_to edit_user_path(current_user), class:"strong" do
          = icon("fa", "cog")
  .side-bar__group-list
    .group
      .group__name
        TECH::EXPERT
      .group__message
        まだメッセージがありません
    .group
      .group__name
        TECH::CAMP
      .group__message
        まだメッセージがありません