.side-bar
  .side-bar__user-name
    .top-item
      .top-item__name
        = current_user.name
      .top-item__icon
        = link_to new_group_path, class:"strong" do
          = icon("fa", "edit")
        = link_to edit_user_path(current_user), class:"strong" do
          = icon("fa", "cog")
  .side-bar__groups-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class:"group__style" do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません
